body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f7f6;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.container {
    background: white;
    width: 400px;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

h1 { text-align: center; color: #333; }

.input-section { display: flex; gap: 10px; margin-bottom: 20px; }

input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
}

button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

ul { list-style: none; padding: 0; }

li {
    background: #fff;
    border-bottom: 1px solid #eee;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-btn {
    color: #ff4d4d;
    cursor: pointer;
    font-weight: bold;
}


/* تنسيقات الوضع الليلي */
.dark-mode {
    background-color: #1a1a1a;
    color: white;
}

.dark-mode .container {
    background-color: #2d2d2d;
    color: white;
}

.dark-mode li {
    background-color: #3d3d3d;
    border-bottom: 1px solid #444;
    color: white;
}

.dark-mode input {
    background-color: #444;
    color: white;
    border: 1px solid #555;
}
/* ألوان الأولوية */
.priority-high { border-right: 5px solid #ff4d4d !important; }
.priority-med { border-right: 5px solid #ffc107 !important; }
.priority-low { border-right: 5px solid #28a745 !important; }

.task-date {
    font-size: 0.7rem;
    color: #888;
    display: block;
}

.task-info {
    display: flex;
    flex-direction: column;
}

#searchInput {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
}
